<?xml version="1.0"?>
jrobot name="slab_srb_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="robot_name" default="slab_srb_robot"/>
    <xacro:include filename="$(find SRBProject)/xacro/srb_body/body.xacro" />
    <xacro:include filename="$(find SRBProject)/xacro/srb_wheel/wheel.xacro" />
    <xacro:include filename="$(find SRBProject)/xacro/srb_sensors/urg/urg.xacro" />
    <xacro:include filename="$(find SRBProject)/xacro/srb_sensors/imu/imu.xacro" />
    <link name="base_link"/>

    <xacro:body_macro parent="base_link" />
    <xacro:wheel_macro prefix="left_wheel" parent="base_link" xyz="0 0.304 0.1225"/>
    <xacro:wheel_macro prefix="right_wheel" parent="base_link" xyz="0 -0.304 0.1225"/>
    <xacro:laser_macro prefix="front_laser" parent="base_link" xyz="0.31 0 0.33" />
    <xacro:imu_macro prefix="imu" parent="base_link" xyz="0.0 0.0 0.16" robot_name="$(arg robot_name)"/>

</robot>
